* {
    box-sizing: border-box;
  
    margin: 0;
    padding: 0;
    
  }
body {
    background-color: #2B466D;
}

p {
    font-family: 'Open Sans', sans-serif;
    color: white;
    font-weight: 300;
}

h1 {
   padding-top: 25px;
   padding-bottom: 50px;
   text-align: center;
   font-family: 'Fira Code', monospace;
   color:white;
  
}

h2 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: #4CC9F0;
}

#neon-container {
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    
    top: 200px;
  
}

.neon {
    height: 680px;
    margin: -100px;
}

.projects-container {
    height: 100%;
    width: 100%;
   
}

.project-container img {
    height: 70%;
    width: 70%;
}
.project-container h2 {
    margin-top: -50px;
}
.projects-items-container {
    display: flex; 
    gap: 40px;  
    justify-content: space-around;
    flex-wrap: wrap;
}
.project-container  p{
    line-height: 25px;
    text-align: center;
    margin: 30px;

}
.project-container {
   height: 560px;
   width: 350px;
   background-color: #495464;
   display: flex;
   flex-direction: column;
   align-items: center;

   
}

@media(min-width:1130px){

    #neon-container{
        flex-wrap: nowrap;
    }

}

